beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.3
kiwisolver==1.4.4
matplotlib==3.5.0
more-itertools==8.14.0
NBT==1.5.1
numpy==1.23.3
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
PyGLM==2.5.7
pyglm-typing==0.2.1
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.28.1
scipy==1.9.1
setuptools-scm==7.0.5
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
typing_extensions==4.3.0
urllib3==1.26.12
open3d~=0.15.1
laspy==2.2.0
DateTime~=4.7
numba~=0.53.1
scikit-learn~=1.0.2
Kivy~=2.1.0
scikit-image~=0.19.3
argparse~=1.4.0
pandas~=1.2.1
bs4~=0.0.1